body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.textAppear {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

.counter {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

.propsEx {
  display: flex;
  flex-direction: column;
  font-size: 1em;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
